[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytesseract = "*"
imagehash = "*"
opencv-python = "*"
numpy = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
